<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:lang="http://www.springframework.org/schema/lang"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


  <bean id="repo1" class="org.cse.springtute.SimpleStudentRepository" > </bean>
  <bean id="sms" class="org.cse.springtute.StudentManagementSystem" p:repo-ref="repo1"> </bean>
  <bean id="stu1" class="org.cse.springtute.Student" p:firstName="chamath" p:lastName="sajeewa" p:address="2/32,matara" p:regNumber="16161276712"></bean>
  



  </beans>